<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- 配置文件 -->
<hibernate-configuration>

    <!--
        session-factory 理解为一个DataSource
        session: 代表connection
        factory: 工厂模式
    -->
    <session-factory>
        <!--
            配置连接信息
            相关的配置项都在 etc/hibernate.properties文件中
        -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="connection.username">root</property>
        <property name="connection.password">admin</property>
        <property name="show_sql">true</property>

        <!--
            配置对象 mapping
        -->
        <mapping resource="com/bing/lan/hibernate/day01/_01_hello/Employee.hbm.xml"/>
        <mapping resource="com/bing/lan/hibernate/day01/_02_property/PropertyDomain.hbm.xml"/>

    </session-factory>
</hibernate-configuration>